# This workflow will tag the repo with tags according to piwigo
# version and base-image version
#

name: Tagging
on: 
  workflow_dispatch:
  push:
  pull_request:

jobs:
  tagger:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate tags
        run: |
          N_TAG=$(grep 'FROM php:' Dockerfile|sed 's/FROM php://g')
          M_TAG=$(grep 'ARG PIWIGO_VERSION' Dockerfile|sed 's/ARG PIWIGO_VERSION=//g'|sed 's/"//g')
          New_TAG=$M_TAG-php$N_TAG
          echo "New Tag generated: $New_TAG, $M_TAG"
          echo "NEW_TAG=$New_TAG" >> $GITHUB_ENV
          echo "M_TAG=$M_TAG" >> $GITHUB_ENV
      - name: Auto-tag repo with full tag
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GH_AUTO_TOKEN }}
        run: |
          git config user.name "Github Actions"
          git config user.email "github-actions@users.noreply.github.com"
          git tag $M_TAG
          git push origin $N_TAG
          git tag $NEW_TAG
          git push origin $NEW_TAG
